@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --bg1: #010112;
  --bg2: #1b1b2c;
  --bg3: #343448;
  --font1: "Archivo Black", sans-serif;
  --font2: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --accent1: #8ad5fd;
  --accent2: #ee89fe;
  --accent1t: #8ad5fd36;
  --accent2t: #ee89fe36;
}

/* presets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #ffffff;
  scroll-behavior: smooth;
  background-color: var(--bg1);
  font-family: var(--font1);
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg3);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  border: 3px solid var(--bg3);
  border-radius: 20px;
  background: linear-gradient(-93deg, var(--accent1), var(--accent2));
}

.container {
  margin-inline: 4vw;
  height: 100%;
}

/* header */

header nav {
  background-color: var(--bg1);
  height: 60px;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: -1px -1px 7px var(--accent1), 2px 2px 15px var(--accent2);
}
nav h1 span {
  color: var(--accent1);
}
nav strong {
  font-family: var(--font2);
  font-size: 1.3rem;
}

/* sections */

main section {
  background-color: var(--bg2);
  height: calc(100vh - 60px);
}
section .container {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.partition {
  background-color: var(--bg1);
  height: fit-content;
  text-align: center;
  padding-block: 70px;
}
.partition h1 {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(170deg, var(--accent1), var(--accent2));
  color: transparent;
  background-clip: text;
}

/* project list  */

.project-list {
  background: linear-gradient(-65deg, var(--accent1t), var(--accent2t));
  width: 23%;
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
}
.project-list h2 {
  text-align: center;
  margin: 10px;
}
.project-list ul {
  height: calc(100% - 55px);
  overflow-y: auto;
  overflow-x: hidden;
}
.project-list .item {
  list-style: none;
  background-color: var(--bg2);
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 10px;
}
.project-list .item:hover {
  scale: 0.93;
  background-color: var(--bg1);
}
.item.active {
  background: linear-gradient(170deg, var(--accent1), var(--accent2));
  color: var(--bg2);
  border: 1px solid var(--bg1);
}

/* display  */

.display {
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1000px;
}
.disp-con {
  border: 1px solid var(--accent1);
  border-right: 10px solid var(--accent1);
  transform-style: preserve-3d;
  border-radius: 20px;
  width: 100%;
  height: 27vw;
  transform: rotateY(-15deg) translate(-5%, 7%);
  overflow: hidden;
}
.section2 .disp-con {
  transform: rotateY(15deg) translate(5%, 7%);
}
.frame-con {
  height: 50.8vw;
  width: 100vw;
  scale: 52.9%;
  transform-origin: 0 0;
}
.frame-con iframe {
  width: 100%;
  height: 100%;
}

.details {
  margin: 25px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
.section2 .top {
  flex-wrap: wrap-reverse;
}
.details h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(170deg, var(--accent1), var(--accent2));
  color: transparent;
  background-clip: text;
  width: fit-content;
  -webkit-text-stroke: 1px white;
  padding-bottom: 5px;
}
.section2 .details h1 {
  margin-left: auto;
}
.details .btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
}
.section2 .details .btns {
  margin-left: initial;
}
.details .btn {
  border-radius: 10px;
  padding: 7px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--bg2);
  background-color: rgb(25, 201, 63);
}
.details .btn:nth-child(2) {
  background: linear-gradient(170deg, var(--accent1), var(--accent2));
}
.details .read-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
.section2 .details .read-btn {
  justify-content: end;
}
.details .text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* more-btn */

.more-btn {
  text-decoration: none;
  background: linear-gradient(-65deg, var(--accent1), var(--accent2));
  width: 11%;
  border-radius: 15px;
  overflow: hidden;
}
.more-btn h1 {
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: 900;
  rotate: 90deg;
  transform: translatex(50px) scaleY(1.1);
  text-wrap: nowrap;
  color: var(--bg2);
}
.section2 .more-btn h1 {
  rotate: -90deg;
  transform: translatex(-270%) scaleY(1.1);
}

/* footer */

footer {
  background-color: var(--bg1);
  height: 60px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer strong span {
  background: linear-gradient(170deg, var(--accent1), var(--accent2));
  color: #ffffff50;
  background-clip: text;
  font-size: 1.3rem;
  /* letter-spacing: 1px; */
}
footer .socials a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.2rem;
}
