@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');

/*resets*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
//	border: 1px solid red;
//	margin: 2px;
}

:root {
	--primary-text-color: #eeeeee;
	--secondary-text-color: #ffffff;
	--accent-color: #73ffe0;
	--dark-accent-color: #50e3c2;
	--primary-bg-color: #222222;
	--secondary-bg-color: #333333;
	--padding-inline: 20px;
}

body {
	font-family: 'Poppins', times;
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
	font-family: 'Roboto', cursive;
	color: var(--secondary-text-color);
	line-height: 1.5rem;
	
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

.hover-link {
	transition: 0.3s ease-in-out;
}

.hover-link:hover {
	font-size: 1.2rem;
	color: var(--accent-color);
}

ul {
	list-style: none;
}

.container {
	max-width: 90vw;
	margin-inline: auto;
	padding: 10px;
	
}

.flex {
	display: flex;
	align-items: center;
}

/*banner*/

.top-banner {
	background: linear-gradient(40deg, var(--accent-color), var(--dark-accent-color), var(--accent-color));
}

.small-bold-text {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}

/*navigation*/

nav {
	position: sticky;
	top: 0px;
	background-color: var(--primary-bg-color);
	box-shadow: 0px 4px 10px 6px var(--primary-bg-color);
	z-index: 1;
}

nav>.container {
	justify-content: space-between;
}

.logo {
	width: 6rem;
	height: 1.5rem;
}

.nav-links {
//	flex-basis: 55vw;
//	justify-content: space-between;
	gap: 0.8rem;
}

.nav-links>li {
//	flex-basis: 10rem;
//	width: 6rem;
}

.pri-btn {
	background-color: var(--accent-color);
	color: #111111;
	border: 1px solid var(--primary-text-color);
	border-radius: 11px;
	padding: 0.3rem 1rem;
}

.pri-btn:hover {
	background-color: var(--dark-accent-color);
	border: 1px solid var(--accent-color);
	color: var(--secondary-text-color);
}

.sec-btn {
	border: 1px solid var(--primary-text-color);
	background-color: var(--secondary-bg-color);
	border-radius: 11px;
	padding: 0.3rem 1rem;
	
}

.sec-btn:hover {
	border: 1px solid var(--accent-color);

}

.nav-toggle {
	display: none;
}

/*header*/

.hero {
	justify-content: center;
	gap: 4rem;
	margin-top: 3rem;
}

.hero-img {
	min-width: 40%;
}

/*main 

company section*/

.companies {
	margin-top: 3rem;
}

.company-images {
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 2rem;
	row-gap: 2rem;
}
.company-image {
	width: 6rem;
	height: 1.5rem;
}

/*feature section*/

.features {
	margin-top: 3rem;
}

.features-head {
	text-align: center;
}

.bg-div {
	background: radial-gradient(#0000, #0000, #222222ff, #222222ff), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp2nc5oP3m1qsBHl1WyqznCoDFB2E_vZOLqA&usqp=CAU");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.features-area {
	margin-top: 3rem;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 2rem;
	backdrop-filter: blur(5px);
}

.feature-card {
	text-align: center;
	width: 30%;
	flex-direction: column;
	gap: 1rem;
//	justify-content: space-between;
}

.feature-img {
	height: 3rem;
	width: 3rem;
}

.feature-card>p {
//	height: 4rem;
}

/*bigfeatures*/

.big-features {
	margin-top: 3rem;
}

.big-f {
	justify-content: center;
	gap: 3rem;
}

.f-img {
	width: 35%;
}

.f-img>img {
	width: 100%;
}

.f-desc {
//	width: 55%;
}

/*examples*/

.examples {
	margin-top: 3rem;
}

.examples-head {
	text-align: center;
}

.examples-area {
	justify-content: space-around;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.example-card {
	width: 20%;
	min-height: 20rem;
	overflow: auto;
	position: relative;
	background: linear-gradient(to top, rgb(0,0,0,1), rgb(0,0,0,0)), url("https://via.placeholder.com/1");
	transition: 0.3s ease-in-out;
}

.example-card:hover {
	box-shadow: 0 0 1rem white;
}

.eg-card-text {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	left: 1rem;
}

/*cta*/

.cta{
	background-color: #bbbbbb;
	color: var(--primary-bg-color);
	padding-block: 2rem;
	margin-top: 3rem;
}

.cta-area {
	flex-direction: column;
	gap: 3rem;
	text-align: center;
}

.cta-area>p {
	color: var(--primary-bg-color);
}
/*footer*/

.footer {
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 3rem;
}

.fsec {
	flex-direction: column;
	align-items: flex-start;
	gap: 0.8rem;
}

.footer-link {
	transition: 0.3s ease-in-out;
	font-size: 0.8rem;
}

.footer-link:hover {
	font-size: 0.9rem;
	color: var(--accent-color);
}

.sub-footer {
	margin-top: 3rem;
	background-color: #444;
	padding: 0.7rem;
}

.sub-fsec {
	justify-content: center;
	gap: 1rem;
}